<!-- Base html from which other html templates inherit
        Use this for persistent menu bar, panels etc -->

<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title>Movie Social Platform</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="static/css/style.css" rel='stylesheet' type='text/css'/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!----requred-js-files---->
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!----for the option drop-down in the search bar---->
<script type="text/javascript">
  $(document).ready(function(e) {
      $('.search-panel .dropdown-menu').find('a').click(function(e) {
		  e.preventDefault();
		  var param = $(this).attr("href").replace("#","");
		  var concept = $(this).text();
		  $('.search-panel span#search_concept').text(concept);
		  $('.input-group #search_param').val(param);
	  });
  });
</script>

</head>
<body>
    <div class="header">
    <div class="container">
      <div class="header-shadow">
        <div class="header-top">
          <a href="index.html"><img class="logo" src="static/images/logo.png"></a>
          <nav class="navbar navbar-default menu" role="navigation">
          <div class="container-fluid">
            <div class="options collapse navbar-collapse">
              <ul class="nav navbar-nav menu1">
                <li><a href="/lists">My List</a></li>
                <li><a href="#movies">Movies</a></li>
                <li><a href="#TVshows">TV Shows</a></li>
                <li><a href="#Movie Roulette">Movie Roulette</a></li>
              </ul>
            </div>
              <div class="login-button">
                  <div class="g-signin2" data-width="120" data-height="32" data-onsuccess="onSignIn"></div>
              </div>
		    <!--<div class="login-button">
		      <button type="button">
		        <span class="glyphicon glyphicon-user"></span>
		      </button>
		    </div>-->
            <div class="input-group">
              <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span id="search_concept">Filter by</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#movies">Movies</a></li>
                  <li><a href="#TVshows">TV Shows</a></li>
                  <li><a href="#actor">Actor</a></li>
                  <li><a href="#user">User</a></li>
                  <li class="divider"></li>
                  <li><a href="#all">Anything</a></li>
                </ul>
              </div>
              <form action="/results" method="post"> <!-- "/results" refers to url we are redirected to -->
                {% csrf_token %} <!-- Some security thing don't worry about it -->
                <input type="text" class="form-control" placeholder="Search for..." id="movie-search" type="text" name="movie-search" value="{{ movie_search }}">
              </form>
              <!-- movie search is the id of the search variable -->
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
          </div>
          </nav>
        </div>
      </div>
    </div>
    </div>

     <!-- Facebook Login Javascript SDK -->
    <script>
	function statusChangeCallback(response) {
	 	console.log('statusChangeCallback');
	    console.log(response);
	    if (response.status === 'connected') {
	    	testAPI();
	    } else if (response.status === 'not_authorized') {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into this app.';
	    } else {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into Facebook.';
	    }
	}

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
	    	statusChangeCallback(response);
	    });
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1808543276057571',
		    cookie     : true,
		    xfbml      : true,
		    version    : 'v2.5' // use graph api version 2.5
		});

		FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
		});
	};

	// Load the SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "http://connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function testAPI() {
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      	console.log('Successful login for: ' + response.name);
	      	document.getElementById('status').innerHTML =
	        'Thanks for logging in, ' + response.name + '!';
	    });
	}
	</script>

	<!-- Google Login -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="433518667328-964g5u4klg7ds73d26d1ckau95bnomr0.apps.googleusercontent.com">

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

          var given_name = profile.getGivenName();
          var family_name = profile.getFamilyName();
          var email = profile.getEmail();

          console.log("Email: " + email);

          var data = {"firstName" : given_name, "familyName" : family_name,"email" : email};
          var URL = "{% url 'home' %}";

          console.log("url: " + URL);

          $.post(URL, data, function(response) {
            //if(response === 'success'){ alert('Yay!'); }
           //else{ alert('Error! :('); }
          });

      };
    </script>

    {% block body %}
        <!-- body stuff goes in here -->

    {%  endblock %}

</body>
</html>