<!-- Base html from which other html templates inherit
        Use this for persistent menu bar, panels etc -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html>
<head>
<title>Movie Social Platform</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="static/css/style.css" rel='stylesheet' type='text/css'/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!----requred-js-files---->
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!----for the option drop-down in the search bar---->
<script type="text/javascript">
  $(document).ready(function(e) {
      $('.search-panel .dropdown-menu').find('a').click(function(e) {
		  e.preventDefault();
		  var param = $(this).attr("href").replace("#","");
		  var concept = $(this).text();
		  $('.search-panel span#search_concept').text(concept);
		  $('.input-group #search_param').val(param);
	  });
  });
</script>

</head>
<body>
    <div class="header">
    <div class="container">
        <div class="header-shadow">
        <div class="header-top">
            <a href="/"><img class="logo" src="static/images/logo.png"></a>
            <nav class="navbar navbar-default menu" role="navigation">
            <div class="container-fluid">
                <div class="options collapse navbar-collapse">
                    <ul class="nav navbar-nav menu1">
                        <li><a href="/friends">Friends</a></li>
                        <li><a href="#movies">Movies</a></li>
                        <li><a href="#TVshows">TV Shows</a></li>
                        <li><a href="#Movie Roulette">Movie Roulette</a></li>
                    </ul>
                </div>
                <!-- login/signup popup -->
                {% if  loggedIn == False %}
                  <img id="login-button" class="login-button" src="static/images/login_signup_button.png">
                  <div id="login-modal" class="modal">
                      <div class="modal-content">
                          <span class="close">x</span>
                          <div class="omb_login">
                              <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
                              <div class="row omb_row-sm-offset-3 omb_socialButtons">
                                  <div class="col-xs-4 col-sm-2" style="width:50%; float:left">
                                      <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                                          <i class="fa fa-facebook visible-xs"></i>
                                          <span class="hidden-xs">Facebook</span>
                                      </a>
                                  </div>

                                  <div class="col-xs-4 col-sm-2"  style="width:50%; float:right">
  {#                                    <a href="#" class="btn btn-lg btn-block omb_btn-google" onclick="onSignIn">#}
  {#                                        <i class="fa fa-google-plus visible-xs" onclick="onSignIn"></i>#}
  {#                                        <span class="hidden-xs" onclick="onSignIn">Google</span>#}
  {#                                    </a>#}
                                    <div class="g-signin2" data-width="190" data-height="45" data-onsuccess="onSignIn"></div>
                                  </div>
                              </div>
                              <div class="row omb_row-sm-offset-3 omb_loginOr">
                                  <hr class="omb_hrOr">
                                  <span class="omb_spanOr">or</span>
                              </div>
                              <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                      <input type="text" class="form-control" name="email" placeholder="email address">
                                  </div>
                                  <span class="help-block"></span>

                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                      <input  type="password" class="form-control" name="password" placeholder="Password">
                                  </div>

                                  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                              </form>

                              <div class="row omb_row-sm-offset-3">
                                  <div class="col-xs-12 col-sm-3" style="width:50%; float:left">
                                      <label class="checkbox">
                                          <input type="checkbox" value="remember-me">Remember Me
                                      </label>
                                  </div>
                                  <p class="omb_forgotPwd" style="padding-right:3%">
                                      <a href="#">Forgot password?</a>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                {% else %}
                  <img id="login-button" class="login-button" src="static/images/logged_in_temp.png">
                {% endif %}
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#movies">Movies</a></li>
                            <li><a href="#TVshows">TV Shows</a></li>
                            <li><a href="#actor">Actor</a></li>
                            <li><a href="#user">User</a></li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                         </ul>
                    </div>
                    <form class="form-inline" id="searchForm" action="/results" method="post">
{#                      <div class="form-group">#}
{#                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#                              <span id="search_concept">Search for:</span> <span class="caret"></span>#}
{#                           </button>#}
{#                           <ul class="dropdown-menu" role="menu">#}
{#                               <li onclick="$('#searchType').val('movie')">Movie / TV</li>#}
{#                               <li class="divider"></li>#}
{#                               <li onclick="$('#searchType').val('user')">Users</li>#}
{#                               <li><a href="#all">Anything</a></li>#}
{#                            </ul>#}
{#                      </div>#}
{#                      <div class="form-group" style="width:auto"><!-- horrible, I know -->#}
                        <input type="text" class="form-control" placeholder="Search for..." id="search" type="text" name="search" value="{{ search }}">
                        <!--<div class="input-group-btn>
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </div>-->
                    </form>
                </div>
            </div>
            </nav>
        </div>
        </div>
    </div>
    </div>

    <!-- Lists was here -->

    <!-- login/signup modal -->
    <script>
        var modal = document.getElementById("login-modal");
        var btn = document.getElementById("login-button");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

     <!-- Facebook Login Javascript SDK -->
    <script>
	function statusChangeCallback(response) {
	 	console.log('statusChangeCallback');
	    console.log(response);
	    if (response.status === 'connected') {
	    	testAPI();
	    } else if (response.status === 'not_authorized') {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into this app.';
	    } else {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into Facebook.';
	    }
	}

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
	    	statusChangeCallback(response);
	    });
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1808543276057571',
		    cookie     : true,
		    xfbml      : true,
		    version    : 'v2.5' // use graph api version 2.5
		});

		FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
		});
	};

	// Load the SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "http://connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function testAPI() {
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      	console.log('Successful login for: ' + response.name);
	      	document.getElementById('status').innerHTML =
	        'Thanks for logging in, ' + response.name + '!';
	    });
	}
	</script>

	<!-- Google Login -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="433518667328-964g5u4klg7ds73d26d1ckau95bnomr0.apps.googleusercontent.com">

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

          var given_name = profile.getGivenName();
          var family_name = profile.getFamilyName();
          var email = profile.getEmail();

          console.log("Email: " + email);

          var data = {"firstName" : given_name, "familyName" : family_name,"email" : email};
          var URL = "{% url 'home' %}";

          console.log("url: " + URL);

          $.post(URL, data, function(response) {
            //if(response === 'success'){ alert('Yay!'); }
           //else{ alert('Error! :('); }
          });

      };
    </script>

    {% block body %} {%  endblock %}

</body>
</html>