{% extends "base.html" %}

{%  block title %} Edit Profile {% endblock %}

{% block body %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#editProfile" data-toggle="tab">Edit Profile</a></li>
            <li><a id="preferences" href="#preferences" data-toggle="tab">Preferences</a></li>
            <li><a href="#friends" data-toggle="tab">Friends List</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="editProfile">
                <!-- edit name, username, and email
                     username needs to be checked for availability
                     email needs to be tagged not verified until the user clicks links in email -->
                <br>
                <form>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 lead">Edit user profile<hr></div>
                            </div> <!-- row -->
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <div id="img-preview-block" class="img-circle avatar avatar-original center-block" style="background-size:cover;
                                background-image:url(http://robohash.org/sitsequiquia.png?size=120x120)"></div>
                                    <br>
                                    <span class="btn btn-link btn-file">Edit profile picture<input type="file" id="upload-img"></span>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="user_last_name">Name</label>
                                        <input type="text" class="form-control" id="user_name" placeholder="Anna Huynh"> <!-- previous info as placeholder -->
                                    </div>
                                    <div class="form-group">
                                        <label for="user_first_name">Username</label>
                                        <input type="text" class="form-control" id="user_username" placeholder="ilovemovies">
                                    </div>
                                    <div class="form-group">
                                        <label for="user_middle_name">Email</label>
                                        <input type="text" class="form-control" id="user_email" placeholder="movies_great@gmail.com                                                  VERIFIED">
                                    </div>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword">Change password</button>
                                    <div id="changePassword" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2>Change Password<a class="close" data-dismiss="modal">x</a></h2>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="old_password">Old password</label>
                                                                <input type="text" class="form-control" id="user_name" placeholder="" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password">New password</label>
                                                                <input type="password" class="form-control" id="password" placeholder="" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="confirm_password">Retype password</label>
                                                                <input type="password" class="form-control" id="confirm_password" placeholder="" required>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                    <button class="btn btn-primary pull-right"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                </div>
                            </div> <!-- row -->
                        </div> <!-- panel body -->
                    </div> <!-- panel -->
                </form>

                <!-- past reviews and ratings (for now it can be sorted from newest to oldest) -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 lead">Recent activity<hr></div>
                        </div> <!-- row -->
                        <!-- list of reviews, max 10 -->
                        <!-- page numbers -->
                        <div class="container">
                            <ul class="pagination" >
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div> <!-- panel body -->
                </div> <!-- panel -->

            </div> <!-- edit profile tab -->

            <br>
            <div class="tab-pane" id="preferences">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 lead">
                                Preferences
                                <a class="btn btn-primary pull-right" data-toggle="collapse" data-parent="#accordion-s" data-target="#collapseOne-s,#collapseTwo-s,#collapseThree-s">All</a>
                                <hr>
                            </div>
                        </div>
                        <!-- various topics of settings that expand -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseOne-s">
                                        Sharing
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Automatically share reviews and ratings?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseTwo-s">
                                        Privacy settings
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Allow all users to search up and view profile?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>
                                    <hr>
                                    Allow all users to view personal lists?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                     </label>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseThree-s">
                                        Notifications
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Receive emails when recommendations are given?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div> <!-- preferences tab -->

            <div class="tab-pane" id="friends">


            </div> <!-- friends tab -->

        </div> <!-- tab content -->
    </div> <!-- tabs -->

    <!-- to upload a new profile picture -->
    <script>
        $(function() {
            $("#upload-img").on("change", function() {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test( files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
                    reader.onload = function(e) { // set image data as background of div
                        $("#img-preview-block").css({'background-image': 'url('+e.target.result +')', "background-size": "cover"});
                    }
                }
            });
        });
    </script>

    <!-- verifying retyped password when changing password is same -->
    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords do not match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

{% endblock %}