{% extends "base.html" %}

{%  block title %} Edit Profile {% endblock %}

{% block body %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#editProfile" data-toggle="tab">Edit Profile</a></li>
            <li><a href="#preferences" data-toggle="tab">Preferences</a></li>
            <li><a href="#friends" data-toggle="tab">Friends List</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="editProfile">
                <!-- edit name, username, and email
                     username needs to be checked for availability
                     email needs to be tagged not verified until the user clicks links in email -->
                <br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 lead"><i class="glyphicon glyphicon-pencil"></i> Edit user profile<hr></div>
                            </div> <!-- row -->
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <div id="img-preview-block" class="img-circle avatar avatar-original center-block" style="background-size:cover;
                                background-image:url(http://robohash.org/sitsequiquia.png?size=120x120)"></div>
                                    <br>
                                    <span class="btn btn-link btn-file">Edit profile picture<input type="file" id="upload-img"></span>
                                </div>
                                <div class="col-md-8">
                                    <form class="form-group" method="POST" action="">
                                        <h2> {{ old_name }} </h2>
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" placeholder="Enter your name"><br>
                                        <label>DOB</label>
                                        <input type="date" class="form-control" name="date" placeholder="Enter your DOB"><br>
                                        <label>Favourite Movies <i class="glyphicon glyphicon-heart"></i></label>
                                        <input type="text" class="form-control" name="fav" placeholder="Enter your favourite movies"><br>
                                        <label>Genre</label>
                                        <input type="text" class="form-control" name="genre" placeholder="Enter your genre"><br>
                                        <button type="submit" class="btn btn-primary pull-right">
                                            <i class="glyphicon glyphicon-floppy-disk"></i> 
                                            Save
                                        </button> 
                                    </form>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#changePassword">Change password</button>
                                        <div id="changePassword" class="modal fade" role="dialog">
                                            <div class="modal-dialog" style="width:500px">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="padding-left:7%">
                                                        <h2>Change Password<a class="close" data-dismiss="modal">x</a></h2>
                                                    </div>
                                                    <div class="modal-body" style="padding-left:7%">
                                                        <form method="POST" action="">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="form-group">
                                                                        <label>Old password</label>
                                                                        <input type="password" class="form-control" name="old_password" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="password">New password</label>
                                                                        <input type="password" class="form-control" name="new_password" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="confirm_password">Retype password</label>
                                                                        <input type="password" class="form-control" name="confirm_password" required>
                                                                    </div>
                                                                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Change</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>       
                                    
                                    
                                </div>
                            </div>
                        </div> <!-- panel body -->
                    </div> <!-- panel -->

                <!-- past reviews and ratings (for now it can be sorted from newest to oldest) -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 lead">Recent activity<hr></div>
                        </div> <!-- row -->
                        <!-- list of reviews, max 10 -->
                        <div class="row">
                            <div class="col-md-12">
                                You recommended <b>Finding Nemo</b> to <b>chicken_nugget.</b>
                                <a data-toggle="modal" data-target="#recommendModal">
                                    <i class="glyphicon glyphicon-repeat pull-right" data-toggle="tooltip" title="View post"></i>
                                </a>
                                <div id="recommendModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog" style="width:700px">
                                        <div class="modal-content">
                                            <div class="modal-header" style="padding-up:2%">
                                                <h2>Recommendation to chicken_nugget<a class="close" data-dismiss="modal">x</a></h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="media">
                                                    <a class="pull-left" href="/movie?id=tt0468569">
                                                        <img class="media-object" src="static/images/the_dark_knight.jpg" style="width:140px; height:230px">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><b>You should watch this!</b></h4>
                                                        <p class="text-right" style="font-size:13px">By Anna</p>
                                                        <p>Hey watch this it is funny trust me when have I ever lied to you.</p>
                                                        <br>
                                                        <h4 class="media-heading">THE DARK KNIGHT</h4>
                                                        <p>When the menace known as the Joker wreaks havoc and chaos on the people of Gotham,
                                                           the caped crusader must come to terms with one of the greatest psychological tests
                                                           of his ability to fight injustice.</p>
                                                        <p><b>Genres:</b> Action | Crime | Drama | Thriller</p>
                                                        <br>
                                                        <ul class="list-inline list-unstyled">
                                                            <li><span><i class="glyphicon glyphicon-calendar"></i> 1hr </span></li>
                                                            <li>|</li>
                                                            <span>
                                                                <i class="glyphicon glyphicon-comment"></i>
                                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#commentsOne">
                                                                    3 comments
                                                                </a>
                                                            </span>
                                                            <li>|</li>
                                                            <li>
                                                                <span class="glyphicon glyphicon-star"></span>
                                                                <span class="glyphicon glyphicon-star"></span>
                                                                <span class="glyphicon glyphicon-star"></span>
                                                                <span class="glyphicon glyphicon-star"></span>
                                                                <span class="glyphicon glyphicon-star"></span>
                                                            </li>
                                                            <li>|</li>
                                                            <li>
                                                                <span><i class="fa fa-facebook-square"></i></span>
                                                                <span><i class="fa fa-twitter-square"></i></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" data-dismiss="modal" class="btn btn-primary pull-right">OK!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right" style="padding-right:2%">yesterday</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                You added <b>Suicide Squad</b> to <b>Comedy</b> list.
                                <a data-toggle="modal" data-target="#listModal">
                                    <i class="glyphicon glyphicon-th-list pull-right" data-toggle="tooltip" title="View list"></i>
                                </a>
                                <div id="listModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header" style="padding-left:7%">
                                                <h2>Comedy<a class="close" data-dismiss="modal">x</a></h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <a class="pull-left" href="/movie?id=tt0468569">
                                                        <img class="media-object" src="static/images/little_mermaid.jpg" style="width:65px; height:100px;"> <!-- move css -->
                                                    </a><br><br>
                                                    <!-- why is this container so wide -->
                                                    <div class="col-md-9" style="width:480px">
                                                        <h4>The Little Mermaid</h4>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="container">
                                                    <a class="pull-left" href="/movie?id=tt0468569">
                                                        <img class="media-object" src="static/images/suicide_squad.jpg" style="width:65px; height:100px;"> <!-- move css -->
                                                    </a><br><br>
                                                    <div class="col-md-9" style="width:480px">
                                                        <h4>Suicide Squad</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary pull-right" data-dismiss="modal">OK!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- list modal -->
                                <div class="pull-right" style="padding-right:2%">2 days ago</div>
                            </div>
                        </div>
                        <br>
                        <!-- page numbers -->
                        <div class="container">
                            <ul class="pagination" >
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div> <!-- panel body -->
                </div> <!-- panel -->

            </div> <!-- edit profile tab -->

            <br>
            <div class="tab-pane" id="preferences">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 lead">
                                Preferences
                                <button class="btn btn-primary pull-right" data-toggle="collapse" data-parent="#accordion-s" data-target="#collapseOne-s,#collapseTwo-s,#collapseThree-s">All</button>
                                <hr>
                            </div>
                        </div>
                        <!-- various topics of settings that expand -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseOne-s">
                                        Sharing
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Automatically share reviews and ratings?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseTwo-s">
                                        Privacy settings
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Allow all users to search up and view profile?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>
                                    <hr>
                                    Allow all users to view personal lists?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                     </label>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#collapseThree-s">
                                        Notifications
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-s" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Receive emails for new friend requests?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>
                                    <hr>
                                    Receive emails when recommendations are given?
                                    <label class="switch pull-right">
                                        <input type="checkbox">
                                            <div class="slider round"></div>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div> <!-- preferences tab -->

            <div class="tab-pane" id="friends">
                <div class="panel panel-default">
                    <div style="padding-right:2%; padding-top:2%"> <!-- move css -->
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addFriends"><i class="glyphicon glyphicon-user"></i> Add friends</button>
                        <div id="addFriends" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="padding-left:7%">
                                        <h2>Add Friends<a class="close" data-dismiss="modal">x</a></h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="panel panel-default">
                                            <div class="panel-heading c-list">
                                                <span class="title">Search</span>
                                                <ul class="pull-right c-controls">
                                                    <li><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#searchBar"><i class="fa fa-ellipsis-v"></i></a></li>
                                                </ul>
                                                <div id="searchBar" class="panel-collapse collapse">
                                                    <form class="form" role="form">
                                                        <input class="form-control" style="width:100%" type="text" placeholder="Username or name" />
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row" style="display: none;">
                                                <div class="col-xs-12">
                                                    <div class="input-group c-search">
                                                        <input type="text" class="form-control" id="contact-list-search">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="list-group" id="contact-list">
                                                <li class="list-group-item">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-9">
                                                        <span class="name">Scott Stevens</span>
                                                        <br><br>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmRequest"><i class="glyphicon glyphicon-user"></i> Add user</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-9">
                                                        <span class="name">Seth Frazier</span><br/>
                                                        <br>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmRequest"><i class="glyphicon glyphicon-user"></i> Add user</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-9">
                                                        <span class="name">Jean Myers</span><br/>
                                                        <br>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmRequest"><i class="glyphicon glyphicon-user"></i> Add user</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="col-xs-12 col-sm-3">
                                                        <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton" class="img-responsive img-circle" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-9">
                                                        <span class="name">Todd Shelton</span><br/>
                                                        <br>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmRequest"><i class="glyphicon glyphicon-user"></i> Add user</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                            </ul>
                                        </div> <!-- contacts panel -->
                                    </div> <!-- modal body -->
                                </div> <!-- modal content -->
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for user in friends %}
                            <form method="post">
                            <li href="#" class="list-group-item text-left">
                                <img class="img-thumbnail" src="http://api.randomuser.me/portraits/men/45.jpg">
                                <label class="name">{{ user.first_name }} {{ user.last_name }}</label>
                                <label class="pull-right">
                                    <a class="btn btn-success btn-xs glyphicon glyphicon-user" style="color:#fff" href="#" title="View profile"></a>
                                    <a class="btn btn-danger  btn-xs glyphicon glyphicon-remove" style="color:#fff" href="#" title="Remove from friends"></a>
                                    <a class="btn btn-info btn-xs glyphicon glyphicon glyphicon-film" style="color:#fff" href="#" title="Send recommendation"></a>
                                </label>
                                <div class="break"></div>
                            </li>
                            </form>
                            {% endfor %}
                            <li href="#" class="list-group-item text-left">
                                <img class="img-thumbnail" src="http://api.randomuser.me/portraits/men/8.jpg">
                                <label class="name">James Rodriguez</label>
                                <label class="pull-right">
                                    <a class="btn btn-success btn-xs glyphicon glyphicon-user" style="color:#fff" href="#" title="View profile"></a>
                                    <a class="btn btn-danger  btn-xs glyphicon glyphicon-remove" style="color:#fff" href="#" title="Remove from friends"></a>
                                    <a class="btn btn-info btn-xs glyphicon glyphicon glyphicon-film" style="color:#fff" href="#" title="Send recommendation"></a>
                                </label>
                                <div class="break"></div>
                            </li>
                            <li href="#" class="list-group-item text-left">
                                <img class="img-thumbnail" src="http://api.randomuser.me/portraits/women/94.jpg">
                                <label class="name">Mariana pajon</label>
                                <label class="pull-right">
                                    <a class="btn btn-success btn-xs glyphicon glyphicon-user" style="color:#fff" href="#" title="View profile"></a>
                                    <a class="btn btn-danger  btn-xs glyphicon glyphicon-remove" style="color:#fff" href="#" title="Remove from friends"></a>
                                    <a class="btn btn-info btn-xs glyphicon glyphicon glyphicon-film" style="color:#fff" href="#" title="Send recommendation"></a>
                                </label>
                                <div class="break"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- friends tab -->

        </div> <!-- tab content -->
    </div> <!-- tabs -->

    <!-- choosing favourite genre modal -->
    <div id="changeGenres" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:500px">
            <div class="modal-content">
                <div class="modal-header" style="padding-left:7%">
                    <h2>Select favourite genres!<a class="close" data-dismiss="modal">x</a></h2>
                </div>
                <!-- look at that hardcoding -->
                <div class="modal-body">
                    <div class="row" style="padding-bottom:2%">
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success ">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Comedy
                            </label>
                            <label class="btn btn-genre btn-danger active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Comedy
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Horror
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Horror
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success ">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Adventure
                            </label>
                            <label class="btn btn-genre btn-danger active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Adventure
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Action
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Action
                            </label>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:2%">
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Family
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Family
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Drama
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Drama
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Sci-fi
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Sci-fi
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Fantasy
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Fantasy
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Romance
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Romance
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Crime
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Crime
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Mystery
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Mystery
                            </label>
                        </div>
                        <div class="col-sm-3" data-toggle="buttons">
                            <label class="btn btn-genre btn-success active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <i class="fa fa-check"></i> Thriller
                            </label>
                            <label class="btn btn-genre btn-danger">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <i class="fa fa-warning"></i> Thriller
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-dismiss="modal" class="btn btn-primary pull-right">OK!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirm friend request modal -->
    <div id="confirmRequest" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:500px">
            <div class="modal-content">
                <div class="modal-header" style="padding-left:7%">
                    <h2>Add user as a friend?<a class="close" data-dismiss="modal">x</a></h2>
                </div>
                <div class="modal-body">
                    <button type="submit" data-dismiss="modal" class="btn btn-primary pull-left">No, I change my mind.</button>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary pull-right">Go ahead!</button>
                </div>
                <br>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- to upload a new profile picture -->
    <script>
        $(function() {
            $("#upload-img").on("change", function() {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test( files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
                    reader.onload = function(e) { // set image data as background of div
                        $("#img-preview-block").css({'background-image': 'url('+e.target.result +')', "background-size": "cover"});
                    }
                }
            });
        });
    </script>

    <!-- verifying retyped password when changing password is same -->
    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords do not match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

    <!-- search bar for adding friends -->
    <!-- js search plugin -->
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    <script>
        $(function () {
            /* BOOTSNIPP FULLSCREEN FIX */
            if (window.location == window.parent.location) {
                $('#back-to-bootsnipp').removeClass('hide');
            }

            $('[data-toggle="tooltip"]').tooltip();

            $('#fullscreen').on('click', function(event) {
                event.preventDefault();
                window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
            });
            $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
                event.preventDefault();
                $('#cant-do-all-the-work-for-you').modal('show');
            })

            $('[data-command="toggle-search"]').on('click', function(event) {
                event.preventDefault();
                $(this).toggleClass('hide-search');

                if ($(this).hasClass('hide-search')) {
                    $('.c-search').closest('.row').slideUp(100);
                }else{
                    $('.c-search').closest('.row').slideDown(100);
                }
            })

            $('#contact-list').searchable({
                searchField: '#contact-list-search',
                selector: 'li',
                childSelector: '.col-xs-12',
                show: function( elem ) {
                    elem.slideDown(100);
                },
                hide: function( elem ) {
                    elem.slideUp( 100 );
                }
            })
        });
    </script>

{% endblock %}