{% extends "base.html" %}

{%  block title %} Home {% endblock %}

{% block body %}

    <!-- newsfeed needs to be populated with following types
         green (class="timeline-icon bg-success") = new releases
         red (class="timeline-icon bg-secondary") = reviews and ratings
         blue (class="timeline-icon bg-info") = recommendations
         yellow ("timeline-icon bg-warning">) = personal posts?

         different when not logged in, which will only consist of new releases and random reviews -->
    <div class="timeline-centered">
        <!-- method in for loop -->
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon bg-success"></div> <!-- will change depending on type of post -->
                <div class="timeline-label">
                    <!-- content to go here -->
                </div>
            </div>
        </article>

        <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i>
                </div>
            </div>
        </article>
    </div> <!-- timeline -->


{% endblock %}