{% extends "base.html" %}

{%  block title %}  Movie App Home {% endblock %}

{% block body %}

     <!-- Facebook Login Javascript SDK -->
    <script>	
	function statusChangeCallback(response) {
	 	console.log('statusChangeCallback');
	    console.log(response);
	    if (response.status === 'connected') {
	    	testAPI();
	    } else if (response.status === 'not_authorized') {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into this app.';
	    } else {
	      	document.getElementById('status').innerHTML = 'Please log ' +
	        	'into Facebook.';
	    }
	}

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
	    	statusChangeCallback(response);
	    });
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1808543276057571',
		    cookie     : true,  
		    xfbml      : true,  
		    version    : 'v2.5' // use graph api version 2.5
		});

		FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
		});
	};

	// Load the SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "http://connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function testAPI() {
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      	console.log('Successful login for: ' + response.name);
	      	document.getElementById('status').innerHTML =
	        'Thanks for logging in, ' + response.name + '!';
	    });
	}
	</script>

	<!-- Google Sign in -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="433518667328-964g5u4klg7ds73d26d1ckau95bnomr0.apps.googleusercontent.com">


	<!-- This is the button, so we can move this around -->
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
	</fb:login-button>
	<!-- This is the "Please log into facebook sentence"
	<div id="status"></div>
	-->
	<!-- Google sign-in button -->
	<div class="g-signin2" data-width="62" data-height="20" data-onsuccess="onSignIn"></div>

	<h1>{{ bodyContent }}</h1>

    <form action="/results" method="post"> <!-- "/results" refers to url we are redirected to -->
        {% csrf_token %} <!-- Some security thing don't worry about it -->
        <label for="/results"> Movie: </label>
        <input id="movie-search" type="text" name="movie-search" value="{{ movie_search }}">
        <!-- movie search is the id of the search variable -->
        <input type="submit" value="ok">
    </form>

   

	
    

{% endblock %}