{% extends "base.html" %}

{% block title %} Lists {% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 lead">My Lists<hr></div>
            </div>
            <!-- lists of lists -->
            <div class="col-sm-3">
                <img class="media-object" src="static/images/little_mermaid.jpg" style="width:120px; height:180px">
                <br>
                <button type="button" class="btn btn-purple text-uppercase" data-toggle="modal" data-target="#listOne">Watched</button>
                <br><br>
            </div>
            <div class="col-sm-3">
                <img class="media-object" src="static/images/little_mermaid.jpg" style="width:120px; height:180px">
                <br>
                <button type="button" class="btn btn-hot text-uppercase" data-toggle="modal" data-target="#listOne">To Watch</button>
                <br><br>
            </div>
            <div class="col-sm-3">
                <img class="media-object" src="static/images/little_mermaid.jpg" style="width:120px; height:180px">
                <br>
                <button type="button" class="btn btn-fresh text-uppercase" data-toggle="modal" data-target="#listOne">For laughs</button>
                <br><br>
            </div>
            <div class="col-sm-3">
                <img class="media-object" src="static/images/little_mermaid.jpg" style="width:120px; height:180px">
                <br>
                <button type="button" class="btn btn-sunny text-uppercase" data-toggle="modal" data-target="#listOne">Chicken themed</button>
                <br><br>
            </div>
        </div> <!-- panel content -->
    </div> <!-- panel -->

{% endblock %}