{% extends "base.html" %}

{% block title %} {{ movie.title }} {% endblock %}

{% block body %}
    <script>
        //document.getElementById("watchedBtn").addEventListener("click", addToList());
        function addToWatched(){
            console.log("Working");
            //var button = document.getElementById('watchedBtn');

            var data = { "movie": '{{movie.imdbID}}', "listAdd" : 'watched'};
            var URL = "{% url 'movie' %}";
            $.post(URL, data);
        }
        function addToWatch(){
            console.log("Working");
            //var button = document.getElementById('watchedBtn');

            var data = { "movie": '{{movie.imdbID}}', "listAdd" : 'watch'};
            var URL = "{% url 'movie' %}";
            $.post(URL, data);
        }
     </script>

    <script>
        function getUrl() {
            var result;
            result = $.get( "https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ movie.title }}+trailer&maxResults=1&key=AIzaSyAQnOU7RCx_T0g6VQLPadd6OHMdYfQfRig", function( data ) {
                console.log(data);
                 url = "https://www.youtube.com/v/" + data.items[0].id.videoId;
                document.getElementById("video").setAttribute("src", url);
                console.log(url);
            });
        }
    </script>


    <h1>{{ movie.title }}</h1>

{#    <button class="btn btn-default" id="toWatchBtn" onclick="addToWatch()">#}
{#        Add to my To Watch list#}
{#     </button>#}
{#     <button class="btn btn-success" id="watchedBtn" onclick="addToWatched()">#}
{#        Add to my Watched list#}
{#     </button>#}


        <div class="well well-sm" style="margin-top:20px;">
            <div style="display: inline-block; width: 20%; height: 100%; *display: inline; vertical-align: top;">
                <img src="{{ movie.poster }}" alt="Poster" align="right" class="img-rounded" style="max-width: 100%; height: auto; vertical-align: top; onload="getUrl()">
                <a class="btn btn-default" style="margin-top: 15px; width: 100%;" data-toggle="modal" data-target="#recommendModal"><i class="glyphicon glyphicon-film"></i> Recommend </a>
                <button class="btn btn-default" id="toWatchBtn" onclick="addToWatch()" style="margin-top: 20px; width: 100%;">
                    + To Watch
                </button>
                <button class="btn btn-success" id="watchedBtn" onclick="addToWatched()"style="margin-top: 20px; width: 100%;">
                   + Watched
                </button>
            </div>
            <div style="display: inline-block; width: 70%; *display: inline;">
                <dl class="dl-horizontal">
                    <dt> Year: </dt>
                    <dd>{{ movie.year }} </dd>

                    <dt> Rating: </dt>
                    <dd>{{ movie.rated }}</dd>

                    <dt> Runtime: </dt>
                    <dd> {{ movie.runtime }} </dd>

                    <dt> Genre/s: </dt>
                    <dd> {{ movie.genre }}</dd>

                    <dt> Director/s: </dt>
                    <dd> {{ movie.director }}</dd>

                    <dt> Writer/s: </dt>
                    <dd> {{ movie.writer }}</dd>

                    <dt> Actors: </dt>
                    <dd> {{ movie.actors }}</dd>

                    <dt> Plot Summary: </dt>
                    <dd> {{ movie.plot }}</dd>
                </dl>
            </div>

        </div>

        <div class="well well-sm" style="margin-top:20px;">
            <h3>Trailer</h3>
            <hr>
            <iframe width="420" height="315" id="video" style="display: block; margin: auto" src="https://www.youtube.com/embed/XGSy3_Czz8k">
            </iframe>
            <br>
        </div>

{#        <div class="well well-sm" style="margin-top:20px;" >#}
{#            <div class="col-md-6">#}
{#            <div class="well well-sm">#}
{#                <div class="text-right">#}
{#                    <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>#}
{#                </div>#}
{##}
{#                <div class="row" id="post-review-box" style="display:none;">#}
{#                    <div class="col-md-12">#}
{#                        <form accept-charset="UTF-8" action="" method="post">#}
{#                            <input id="ratings-hidden" name="rating" type="hidden">#}
{#                            <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>#}
{##}
{#                            <div class="text-right">#}
{#                                <div class="stars starrr" data-rating="0"></div>#}
{#                                <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">#}
{#                                <span class="glyphicon glyphicon-remove"></span>Cancel</a>#}
{#                                <button class="btn btn-success btn-lg" type="submit">Save</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        <div class="well well-sm" style="margin-top:20px;" >
            <h3>Reviews and ratings</h3>
            <hr>
            <div class="well">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"><b>It was good</b></h4>
                        <p class="text-right" style="font-size:13px">By Josh</p>
                        <p>I really like this show.</p>
                        <br>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 6hr </span></li>
                            <li>|</li>
                            <span>
                                <i class="glyphicon glyphicon-comment"></i>
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-s" href="#commentsTwo">
                                    2 comments
                                </a>
                            </span>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </li>
                            <li>|</li>
                            <li>
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- comments -->
                <div id="commentsTwo" class="panel-collapse collapse">
                    <div class="detailBox">
                        <ul class="commentList">
                            <li>
                                <div class="glyphicon glyphicon-heart-empty pull-right" data-toggle="tooltip" title="Like"></div>
                                <div class="commenterImage">
                                    <img src="http://api.randomuser.me/portraits/women/33.jpg">
                                </div>
                                <div class="commentText">
                                    <p class="">Wow I really like boats they are the greatest.</p>
                                    <span class="sub-text">Reply</span>
                                    <span class="date sub-text">|  1/10/16</span>
                                </div>
                            </li>
                            <li>
                                <div class="glyphicon glyphicon-heart-empty pull-right" data-toggle="tooltip" title="Like"></div>
                                <div class="commenterImage">
                                    <img src="http://api.randomuser.me/portraits/women/2.jpg">
                                </div>
                                <div class="commentText">
                                    <p class="">The water looks cold I don't like cold water cause it is just too cold.</p>
                                    <span class="sub-text">Reply</span>
                                    <span class="date sub-text">|  27/8/16</span>
                                </div>
                            </li>
                        </ul>
                        <br>
                        <form class="form" role="form">
                            <button class="btn btn-default pull-right">Add</button>
                            <input class="form-control" style="width:90%" type="text" placeholder="Your comments" />
                        </form>
                    </div>
                </div> <!-- collapsible comments -->
            </div>
            <div class="btn btn-sunny" data-toggle="collapse" href="#review">Leave Review</div>
            <br>
            <div id="review" class="panel-collapse collapse">
                <br>
                <form>
                    <textarea class="form-control" rows="6" style="margin-right: 10px; margin-bottom: 10px">Comment...</textarea>
                    <br>
                    <btn type="submit" class="btn btn-success btn-green">
                        Leave Review
                    </btn>
                    <div style="float: right;">
                        <label style="font-weight: bold; margin-left: 20px">Rating: </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4"> 4
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5"> 5
                        </label>
                    </div>
                </form>
            </div> <!-- review modal -->
        </div>

{#    </div>#}

{% endblock %}