{% extends "base.html" %}

{%  block title %} Results {% endblock %}

{% block body %}
    <h1>Search Results</h1><!-- GET request with ID as the imdbID that was returned from the API -->
        <div class="panel panel-default">
          <!-- Default panel contents -->
        <ul class="list-group">
      {% for movie in query %}
        <li class="list-group-item">
          <form class="form-group" style="align:right">
            <label name="movie" value="{{ movie }}"><a href="/movie?id={{ movie.imdbID }}">{{ movie.title }} -</a> {{ movie.year }}</label>
            <label name="search" value="{{ search }}" style="display:none"></label>
            <button class="btn btn-success" type="submit" style="float:right">Watched</button>
          </form>
        </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}