{% extends "base.html" %}

{%  block title %} Results {% endblock %}

{% block body %}
    <h1>Search Results</h1><!-- GET request with ID as the imdbID that was returned from the API -->
        <div class="panel panel-default">
          <!-- Default panel contents -->
        <ul class="list-group">
      {% for movie in query %}
        <li class="list-group-item"><a href="/movie?id={{ movie.imdbID }}">{{ movie.title }} -</a> {{ movie.year }}</li>
      {% endfor %}
  </ul>
</div>
{% endblock %}