h2 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-family: "Times New Roman", Georgia, Serif, monospace;

}

.modal-header{
	background-color: #ffffe0;
	color: green;	

}
.modal-body{
    background-image: url("potato-header.png");
}
