.clear {clear: both;}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body {
	font-family: 'Open Sans', sans-serif;
    background-color: #5bc0de;
}
.centre-panel {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
#page {
	background: #ffffff;
	margin: 0 auto;
	padding: 0 20px;
	width: 60%;
}
body a {
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.header {
	background: #fff;
	margin-top: 2%;
    padding-bottom: 3%;
}
.logo {
	float: left;
	height: auto;
	width: 30%;
    padding-top: 2%;
}
.menu {
	float: right;
	background: #FFF;
	border: none;
	margin: 0.5% 0 2% 0;
	width: 70%;
	padding-top: 2%;
}
.options.collapse.navbar-collapse {
    padding-top: 1%;
    padding-bottom: 1%;
}
.login-button {
    position: absolute;
    top: 33px;
    right: 3%;
	width: 20%;
}
.signout-button {
    position: absolute;
    top: 13px;
    right: 3%;
	width: 20%;
}
.input-group {
    padding-bottom: 3%;
}
#footer {
	background: #5bc0de;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	text-align: center;
	text-shadow: 1px 1px 1px #8da181;
}
.pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;margin: 0 5px;
}

/*************************************/

/*roulette*/

.roulette-img {
    width:200px;
    height:300px;
    display: block;
    margin: 0 auto;
}

/*************************************/

/*modals*/
.movie-modal {
    position: absolute;
    left: 50%;
    top: 7%;
    margin-left: -400px;
    margin-top: 100px;
    width: 800px;
    height: 600px;
    background-image: url('static/images/result.png');
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

/*************************************/

/*login/signup modal*/
#login_body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #666;
}
#login_h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 60px;
}
#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 60px;
    background: #FFF;
}
#modal_trigger {
    margin: 40px auto;
    width: 200px;
    display: block;
    border: 1px solid #DDD;
    border-radius: 4px;
}
.btn_red {
    background: #ED6347;
    color: #FFF;
}
.btn:hover {
    background: #E4E4E2;
}
.btn_red:hover {
    background: #C12B05;
}
a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}
a.btn_red {
    color: #FFF;
}
.one_half {
    width: 50%;
    display: block;
    float: left;
}
.one_half.last {
    width: 45%;
    margin-left: 5%;
}
/*popup styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}
.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}
.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}
.popupBody {
    padding: 20px;
}
/*social login form*/
.social_login {}
.social_login .social_box {
    display: block;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    background: #F4F4F2;
    overflow: hidden;
}
.social_login .icon {
    display: block;
    width: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    float: left;
    color: #FFF;
    font-size: 16px;
    text-align: center;
}
.social_login .fb .icon {
    background: #3B5998;
}
.social_login .google .icon {
    background: #DD4B39;
}
.social_login .icon_title {
    display: block;
    padding: 5px 0;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #777;
}
.social_login .social_box:hover {
    background: #E4E4E2;
}
.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}
.action_btns {
    clear: both;
    overflow: hidden;
}
.action_btns a {
    display: block;
}
/*user login form*/
.user_login {
    display: none;
}
.user_login label {
    display: block;
    margin-bottom: 5px;
}
.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}
.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
.user_login input[type="checkbox"]+label {
    float: left;
}
.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
/*user register form*/
.user_register {
    display: none;
}
.user_register label {
    display: block;
    margin-bottom: 5px;
}
.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}
.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
.user_register input[type="checkbox"]+label {
    float: left;
}
.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

/*************************************/

/*newsfeed*/
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded {
    border-radius: 3px;
}
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}
    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }
    .timeline-centered:after {
        clear: both;
    }
    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }
    .timeline-centered:after {
        clear: both;
    }
    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #f5f5f6;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }
    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        clear: both;
    }
        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }
        .timeline-centered .timeline-entry:after {
            clear: both;
        }
        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }
        .timeline-centered .timeline-entry:after {
            clear: both;
        }
        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }
        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }
            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }
                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }
                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }
                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }
                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }
            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                box-shadow: 0 0 0 5px #f5f5f6;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #f5f5f6;
                padding: 1em;
                margin-left: 60px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #f5f5f6 transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans",sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }
                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -webkit-opacity: .6;
                        -moz-opacity: .6;
                        opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        filter: alpha(opacity=60);
                    }

/*************************************/

/*search results*/
.portfolioFilter a {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s ease-out;
}
.portfolioFilter a:hover {
  background-color: #228bdf;
  color: #ffffff;
}
.portfolioFilter a.current {
  background-color: #228bdf;
  color: #ffffff;
}
.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.gal-detail h4 {
  margin: 16px auto 10px auto;
  width: 80%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gal-detail .ga-border {
  height: 3px;
  width: 40px;
  background-color: #228bdf;
  margin: 10px auto;
}

/*************************************/

/*edit profile*/
body {
  background-color: #eaeaea;
}
img.avatar,
div.avatar {
  border: 1px solid #eee;
  width: 122px;
  height: 122px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*password strength*/
.password-background {
  position: relative;
  top: -34px;
  margin-bottom: -34px;
  height: 34px;
  width: 0;
  border-radius: 4px;
  z-index: -1;
  /*CSS transitions*/
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#password {
  background: none;
}

.strength {
  float: right;
}

/*preferences*/
.alert-message {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child {
    margin-bottom: 0;
}
.alert-message code {
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success {
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4 {
    color: #3C763D;
}
.alert-message-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4 {
    color: #d9534f;
}
.alert-message-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4 {
    color: #f0ad4e;
}
.alert-message-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4 {
    color: #5bc0de;
}
.alert-message-default {
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4 {
    color: #000;
}
.alert-message-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4 {
    color: #444;
}

/*toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
/*hide default HTML checkbox*/
.switch input {display:none;}
/*slider*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/*rounded sliders*/
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}

/*************************************/

/*buttons*/
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}
.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;
}
.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}
.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}
.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}
.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}
.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}
.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}
.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}
.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}
.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}
.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

